
<div id="shadow" class="shadow" >
 <div align="left">
Kết quả: <%= @countds %> danh sách
</div>  
    <table border ="1" width ="100%" align="center" cellspacing ="0" class="alternative" bgcolor ="white" >
      <tr>
        <th>STT</th>
        <th>Số CV</th>
        <th>Ngày ra CV</th>
        <th>Ngày nhận CV </th>
        <th>Nội dung</th>
        <th>Tác giả</th>
        <th>Người nhận</th>
       <!-- <th>Loại CV</th>
        <th>Nơi gửi</th>
        <th>Nơi nhận</th>
        <th>Nhóm cv</th>
        <th>Công văn liên quan</th>-->
        <th>Chức năng</th>
      </tr>
      <% i=0%>
      <% @congvans.each do |congvan| %>
      <tr>
       
        <th><%= i=i+1 %> </th>
        <td><%= congvan.SoCV %></td>
        <td><%= congvan.NgayRaCV%></td>
        <td><%= congvan.NgayNhanCV %></td>
        <td><%= congvan.NoiDungCV %></td>
        <td><%= congvan.TacGia %></td>
        <td><%= congvan.NguoiNhan %></td>
        <!--<td><%= congvan.image_file_name%></td>-->
       <!-- <td><%= congvan.loaicv_id %></td>
        <td><%= congvan.NoiGui %></td>
        <td><%= congvan.NoiNhan %></td>
        <td><%= congvan.nhomloaicv_id %></td>
        
        <td>
          <% for nhomcv in congvan.nhomcvs %>
            <%=nhomcv.TenNhomCV%>
          <%end%>
        </td>-->
        <td>
          <%= link_to image_tag('view.png',:style=>'height:2em;width:2em;'), congvan , :style=>"color:#000"%> | 
          <%= link_to image_tag('edit.png'), edit_congvan_path(congvan) , :style=>"color:#000"%> | 
          <%= link_to image_tag('delete_1.png'), congvan, :confirm => 'Bạn có chắc muốn xóa?', :method => :delete , :style=>"color:#000"%>
          
        </td>
      </tr>
    <% end %>
      
    </table>
        <div align="left">
        Hiển thị: <%= i %> / <%= @countds %>
        </div>
      <br />
      <%= will_paginate @congvans %>
    <br />
    </div>
    