<div id="login" class="login-cont" style="padding: 10px; margin: 10px; width: 80%; height: 80%; top: 7%; left: 8%; overflow: auto" align="center"> 
    <div id="close" class="closebutton" align="right">
    <%= link_to 'Thêm công văn', :action => 'new'%>
    <%= link_to image_tag('closex.jpg'),'/trangchu'%>
    </div>
     <%= form_tag congvans_path,:remote => true, :method => 'get' do %>  
     <fieldset>
        <legend>Lọc công văn</legend>
      <%= text_field_tag :search, params[:search] %> 
      
      <%= submit_tag "Lọc", :name => nil %>
      <!--<%= link_to 'Tìm kiếm nâng cao', :controller =>'extra_search', :action =>'index'  %>-->
        
        <%= link_to 'Tìm kiếm nâng cao', '/congvans/search'  %>
       </fieldset>
    <%end%>
  
    <%= form_for  :dump, :url=>{:controller=>"congvans",:action=>"excel_import"}, :html => { :multipart => true } do |f| -%>
      Chọn file excel:
      <%= f.file_field :excel_file -%>
      <%= submit_tag 'Submit' -%>
    <%end%>
    <h1>Danh sách công văn</h1>
   <div id ="congvans">
        <%= render :partial => 'congvan' %>
      </div>
      <script>
      $(document).ready(function() {
          $('.pagination a').attr('data-remote', 'true');
      });</script>
    
  
</div>  

<div class="lock-screen" id="lock" style="display:block"></div>

