<div id="login" class="login-cont" style="padding: 10px; margin: 10px; width: 85%; height: 80%; top: 8%; left: 5%; overflow: auto" align="center"> 
    <div id="close" class="closebutton" style="right: 10px" align="right">
      <%= link_to image_tag('back.png',:style=>'height:3em;width:3em;'), congvans_path %>  
      <%= link_to image_tag('closeit.png'),'/trangchu'%>
    </div>
<h1>Tìm kiếm nâng cao</h1>
    <%= form_tag '/congvans/search',:remote => true, :method => 'get' do %>  
    <fieldset>
    <table width ="90%">
      <tr>
        <td width ="18%">Số công văn:</td>
        <td width ="30%"><%= text_field_tag :SoCV, params[:SoCV], :size =>'19px'%></td>
        
        <td colspan="2">Nơi ban hành: </td>
        <td><%= select_tag :NoiGui, options_from_collection_for_select(Phongban.all, :id,  :TenPB, params[:NoiGui]), :include_blank=>'Tất cả' %></td>
      </tr>
      <tr>
        <td>Loại công văn:</td>
        <!--<td><%= collection_select(:congvan, :loaicv_id, Loaicv.all, :id, :TenLoaiCV,:include_blank=>'Tất cả')  %></td>-->
        <td><%= select_tag :loaicv_id, options_from_collection_for_select(Loaicv.all, :id,  :TenLoaiCV, params[:loaicv_id]), :include_blank=>'Tất cả' %></td>
        
        <td colspan="2">Nơi nhận: </td>
        <td><%= select_tag :NoiNhan, options_from_collection_for_select(Phongban.all, :id,  :TenPB, params[:NoiNhan]), :include_blank=>'Tất cả' %></td>
        
      </tr>
      <tr>
        <td>Nhóm công văn:</td>
        <td><%= select_tag :nhomloaicv_id, options_from_collection_for_select(Nhomloaicv.all, :id,  :TenNhomLoaiCV, params[:nhomloaicv_id]), :include_blank=>'Tất cả' %></td>
        <td width ="25%" colspan="2">Công văn liên quan:</td>
        <td rowspan ="4">
          <% for nhomcv in @nhomcvs  %>
          <input type="radio"
                 id="<%= nhomcv.id %>"
                 name="nhomcv_ids[]"
                 value="<%= nhomcv.id %>"
                 ><%= nhomcv.TenNhomCV %> <br/>
          <%end%>
        </td>
        
        
      </tr>
      <tr>
        <td>Nội dung trích yếu:</td>
        <td><%= text_field_tag :NoiDungCV, params[:NoiDungCV], :size =>'19px'%></td>
        
      </tr>
      <tr>
        <td>Tác giả:</td>
        <td><%= text_field_tag :TacGia, params[:TacGia], :size =>'19px'%></td>
      </tr>
      <tr>
        <td>Người nhận:</td>
        <td><%= text_field_tag :NguoiNhan, params[:NguoiNhan], :size =>'19px'%></td>
      </tr>
      <tr>
        <td>Ngày nhận công văn: </td>
        <!--<td><%= date_select params[:NgayNhanCV],:NgayNhanCV,:start_year =>2002,:end_year =>Time.now.year,:order =>[:day, :month, :year],:include_blank => :true %></td>-->
        <!--<td><%= text_field params[:NgayNhanCV],:NgayNhanCV,:id => "select_day" %></td>-->
        <td><%= text_field_tag :NgayNhanCV, params[:NgayNhanCV], :size =>'19px'%> (yyyy-mm-dd)</td>
        <!--<td>
          <div id="date-picker">
		<label for="occurred_on">Date event occurred:</label>
		
          </div>
          <script type="text/javascript">
          $('#date-picker').datePicker({inline:true});
          </script>

        </td>-->
        <td>Khoảng thời gian:</td>
        <td>Từ ngày:</td>
        <td><%= text_field_tag :startday,params[:startday] %>(yyyy-mm-dd)</td>
      </tr>
      <tr>
        <td>Ngày ra công văn: </td>
        <td><%= text_field_tag :NgayRaCV, params[:NgayRaCV], :size =>'19px'%>(yyyy-mm-dd)</td>
        <td></td>
        <td>Đến ngày:</td>
        <td><%= text_field_tag :endday,params[:endday]%>(yyyy-mm-dd)</td>
      </tr>
      <tr>
        <td>Giảng viên liên quan:</td>
        <td  colpan="3"><%= select_tag :giangvien_id, options_from_collection_for_select(Giangvien.all, :id,  :HoTenGV, params[:giangvien_id]), :include_blank=>'Không' %></td>
      </tr>
    </table>
    <%= submit_tag "Tìm kiếm", :name => nil %>
    </fieldset>
<%end%>
    
    <h1>Danh sách công văn</h1>
    <div id ="congvans">
        <%= render :partial => 'searchcv' %>
      </div>
      <script>
      $(document).ready(function() {
          $('.pagination a').attr('data-remote', 'true');
      });</script>
</div>    
<div class="lock-screen" id="lock" style="display:block"></div>