<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div id="login" class="login-cont" style="padding: 10px; margin: 10px; width: 90%; height: 80%; top: 8%; left: 5%; overflow: auto" align="center"> 
    <div id="close" class="closebutton" style="right: 10px" align="right">
       <%= link_to image_tag('back.png',:style=>'height:3em;width:3em;'), ngoaitrus_path %>  
      <%= link_to image_tag('closeit.png'),'/trangchu'%>
    </div>
<h1>Tìm kiếm nâng cao</h1>
   <%= form_tag '/ngoaitrus/search', :remote => true, :method => 'get' do %> 
    <fieldset>
    <table width ="100%">
      <tr>
        <td>Mã ngoại trú: </td>
        <td><%= text_field_tag :MaNgoaiTru, params[:MaNgoaiTru], :size =>'19px'%></td>
        <td>Loại ngoại trú:</td>
        <td width ="30%"><%= select_tag :loaingoaitru_id, options_from_collection_for_select(Loaingoaitru.all, :id,  :TenLoaiNgoaiTru, params[:loaingoaitru_id]), :include_blank=>'Tất cả' %></td>
       
      </tr>
      <tr>
        <td>Tên danh sách: </td>
        <td><%= text_field_tag :TenNgoaiTru, params[:TenNgoaiTru], :size =>'19px'%></td>
        <td>Học kỳ:</td>
        <td width ="30%"><%= text_field_tag :HocKy, params[:HocKy], :size =>'19px'%></td>
        
      </tr>
     <tr>
         <td>Công văn:</td>
        <td width ="30%"><%= select_tag :congvan_id, options_from_collection_for_select(Congvan.all, :id,  :SoCV, params[:congvan_id]), :include_blank=>'Tất cả' %></td>
        <td>Năm học:</td>
        <td width ="30%"><%= text_field_tag :NamHoc, params[:NamHoc], :size =>'19px'%></td>
     </tr>
    </table>
    <%= submit_tag "Tìm kiếm", :name => nil %>
    
    </fieldset>
<%end%>
    
    <h1>Danh sách ngoại trú</h1>
   <div id ="ngoaitrus">
        <%= render :partial => 'ngoaitru' %>
      </div>
      <script>
      $(document).ready(function() {
          $('.pagination a').attr('data-remote', 'true');
      });</script>
</div>    
<div class="lock-screen" id="lock" style="display:block"></div>