<div id="login" class="login-cont" style="padding: 10px; margin: 10px; width: 65%; height: 60%; top: 10%; left: 15%; overflow: auto" align="center"> 
    <div id="close" class="closebutton" align="right">
    <%= link_to image_tag('closex.jpg'),'/trangchu'%>
    </div>
<h1>Thay đổi mật khẩu</h1>

<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Không hợp lệ</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label "Nhập mật khẩu mới" %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label "Xác nhận mật khẩu mới" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit "Thay đổi mật khẩu" %></div>
<% end %>

</div>
<div class="lock-screen" id="lock" style="display:block"></div>