<fieldset>
         <table border ="1" width ="100%" align="center" cellspacing ="0" class="alternative" bgcolor ="white" >
          <tr>
            <th>Mã SV</th>
            <th>Họ tên</th>
            <th>Ngày sinh</th>
            <th>Giới tính</th>
            <th>Địa chỉ </th>
            <th>Số điện thoại</th>
            <th>Lớp</th>
            <th>Trình độ</th>
            <th>Chọn</th>
            

          </tr>
          <% @sinhviensearchs.each do |sinhvien| %>
          <tr>
            <td ><%= sinhvien.MSSV %></td>
            <td><%= sinhvien.HoTenSV %></td>
            <td><%= sinhvien.NgaySinh %></td>
            <td><%= sinhvien.GioiTinh %></td>
            <td><%= sinhvien.DiaChi %></td>
            <td><%= sinhvien.SDT %></td>
            <td><%= sinhvien.lop.TenLop %></td>
            <td><%= sinhvien.trinhdodaotao.TenTDDT %></td>
            <td>
              <input type="checkbox"
                 id="<%= sinhvien.id %>"
                 name="sinhvien_ids[]"
                 class="checksv"
                 data-value="<%= sinhvien.id %>"
                 value="<%= sinhvien.id %>"
                 <% if @trocap.sinhviens.include? sinhvien%>checked="checked"<%end%>
                 >
            </td>
            
          </tr>
        <% end %>
          
        </table>
        <%= will_paginate @sinhviensearchs %>
      </fieldset>
<br/>
    
      