<div id="shadow" class="shadow" >
    <table border ="1" width ="100%" align="center" cellspacing ="0" class="alternative" bgcolor ="white" >
  <tr>
    <th>Mã điểm rèn luyện</th>
    <th>Tên điểm rèn luyện</th>
    <th>Công văn</th>
    <th>Học kỳ</th>
    <th>Năm học</th>
    <th>Ghi chú</th>
    <th>Chức năng</th>
  </tr>

<% @diemrenluyens.each do |diemrenluyen| %>
  <tr>
    <td><%= diemrenluyen.MaDRL %></td>
    <td><%= diemrenluyen.TenDRL %></td>
    <td><%= diemrenluyen.congvan.SoCV %></td>
    <td><%= diemrenluyen.HocKy %></td>
    <td><%= diemrenluyen.NamHoc %></td>
    <td><%= diemrenluyen.GhiChu %></td>
    <td>
    <%= link_to image_tag('view.png',:style=>'height:2em;width:2em;'), diemrenluyen , :style=>"color:#000"%> | 
          <%= link_to image_tag('edit.png'), edit_diemrenluyen_path(diemrenluyen) , :style=>"color:#000"%> | 
          <%= link_to image_tag('delete_1.png'), diemrenluyen, :confirm => 'Bạn có chắc muốn xóa?', :method => :delete , :style=>"color:#000"%>
  </tr>
<% end %>
</table>

<br />
      <div class ="menu-header" style="text-align:center" >
      <%= will_paginate @diemrenluyens %>
      <br />
    </div>
</div>