<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div id="login" class="login-cont" style="padding: 10px; margin: 10px; width: 90%; height: 80%; top: 8%; left: 5%; overflow: auto" align="center"> 
    <div id="close" class="closebutton" style="right: 10px" align="right">
        <%= link_to image_tag('back.png',:style=>'height:3em;width:3em;'),diemrenluyens_path %>  
       <%= link_to image_tag('closeit.png'),'/trangchu'%>
    </div>
<h1>Tìm kiếm nâng cao</h1>
    <%= form_tag '#',:remote => true, :method => 'get' do %>  
    <fieldset>
    <table width ="100%">
      <tr>
        <td>Mã danh sách: </td>
        <td><%= text_field_tag :MaDRL, params[:MaDRL], :size =>'19px'%></td>
        <td>Học kỳ:</td>
        <td width ="30%"><%= text_field_tag :HocKy, params[:HocKy], :size =>'19px'%></td>
       
      </tr>
      <tr>
        <td>Tên danh sách: </td>
        <td><%= text_field_tag :TenDRL, params[:TenDRL], :size =>'19px'%></td>
        <td>Năm học:</td>
        <td width ="30%"><%= text_field_tag :NamHoc, params[:NamHoc], :size =>'19px'%></td>
        
      </tr>
     <tr>
         <td>Công văn:</td>
        <td width ="30%"><%= select_tag :congvan_id, options_from_collection_for_select(Congvan.all, :id,  :SoCV, params[:congvan_id]), :include_blank=>'Tất cả' %></td>
      </tr>
    </table>
    <%= submit_tag "Tìm kiếm", :name => nil %>
    
    </fieldset>
<%end%>
    
    <h1>Danh sách bảo lưu</h1>
    <div id ="diemrenluyens">
        <%= render :partial => 'diemrenluyen' %>
      </div>
      <script>
      $(document).ready(function() {
          $('.pagination a').attr('data-remote', 'true');
      });</script>    
</div>    
<div class="lock-screen" id="lock" style="display:block"></div>