<p id="notice"><%= notice %></p>

<p>
  <b>Sinhvien:</b>
  <%= @thongtinthuctap.sinhvien_id %>
</p>

<p>
  <b>Loaithuctap:</b>
  <%= @thongtinthuctap.loaithuctap_id %>
</p>

<p>
  <b>Tencongty:</b>
  <%= @thongtinthuctap.TenCongTy %>
</p>

<p>
  <b>Diachi:</b>
  <%= @thongtinthuctap.DiaChi %>
</p>

<p>
  <b>Sdt:</b>
  <%= @thongtinthuctap.SDT %>
</p>

<p>
  <b>Hocky:</b>
  <%= @thongtinthuctap.HocKy %>
</p>

<p>
  <b>Namhoc:</b>
  <%= @thongtinthuctap.NamHoc %>
</p>

<p>
  <b>Ghichu:</b>
  <%= @thongtinthuctap.GhiChu %>
</p>


<%= link_to 'Edit', edit_thongtinthuctap_path(@thongtinthuctap) %> |
<%= link_to 'Back', thongtinthuctaps_path %>
