<div id="login" class="login-cont" style="padding: 10px; margin: 10px; width: 80%; height: 80%; top: 7%; left: 8%; overflow: auto" align="center"> 
    <div id="close" class="closebutton" align="right">
    <%= link_to 'Thêm học bổng', new_hocbong_path %>
    <%= link_to image_tag('closex.jpg'),'/trangchu'%>
    </div>
  <%= form_tag hocbongs_path,:remote => true, :method => 'get' do %>  
     <fieldset>
        <legend>Lọc học bổng</legend>
      <%= text_field_tag :search, params[:search] %> 
      
      <%= submit_tag "Lọc", :name => nil %>
        <%= link_to 'Tìm kiếm nâng cao', '/hocbongs/search', :style => "color:#000"  %>
       </fieldset>
    <%end%>
<h1>Danh sách học bổng</h1>

<div id ="hocbongs">
        <%= render :partial => 'hocbong' %>
      </div>
      <script>
      $(document).ready(function() {
          $('.pagination a').attr('data-remote', 'true');
      });</script>
</div>  

<div class="lock-screen" id="lock" style="display:block"></div>