<tr>
        <th><%= sinhvien.id %></th>
        <td ><%= sinhvien.MSSV %></td>
        <td><%= sinhvien.HoTenSV %></td>
        <td><%= sinhvien.NgaySinh %></td>
        <td><%= sinhvien.GioiTinh %></td>
        <td><%= sinhvien.lop.TenLop %></td>
        <td><%= sinhvien.trinhdodaotao.TenTDDT %></td>
        <td><%= sinhvien.loaithuctap_id %></td>
        <td>
            <%= f.text_field :TenCongTy , :size => '10px'%>
            
        </td>
        <td><%= sinhvien.DiaChiCT %></td>
        <td><%= sinhvien.SDTCT %></td>
        <td><%= sinhvien.HocKyTT %></td>
        <td><%= sinhvien.NamHocTT %></td>
        
      </tr>