<div id="login" class="login-cont" style="padding: 10px; margin: 10px; width: 60%; height: 70%; top: 10%; left: 18%;" align="center"> 

<div id="close" class="closebutton" style="right: 10px" align="right">
     <%= link_to image_tag('closex.jpg'),'/sinhviens'%>
    </div>
<%= form_for (@sinhvien) do |f| %>
      <% if @sinhvien.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@sinhvien.errors.count, "lỗi:") %> Lưu không thành công:</h2>
          <ul>
          <% @sinhvien.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
 
<div  align="center" ><h1>Sinh viên</h1>
 <!--<table with="50%" align="center" cellspacing="20">
     <tr>
        <td> <input id="1" name="hocbong" type="checkbox_hb" value="" /><b>Học bổng</b></td>
        <td> <input id="2" name="buocthoihoc" type="checkbox_bth" value="" /><b>Buộc thôi học</b></td>
        <td> <input id="3" name="baoluu" type="checkbox_bl" value="" /><b>Bảo lưu</b></td>
        <td> <input id="4" name="thuongtru" type="checkbox_tt" value="" /><b>Thường trú</b></td>
        <td> <input id="5" name="trocap" type="checkbox_tc" value="" /><b>Trợ cấp</b></td>
      </tr>
  </table>-->
<table height="100" align="center">
   
<!--      <div class="field"> -->
     
      <tr>
         <td width="20%" height="33"><b><%= f.label 'Mã sinh viên:'%></b></td>
         <td width="30%"><%= f.text_field :MSSV , :size => "20px"%>  </td>
         <td width="20%"><b>Ngày sinh :</b></td>
       <!-- <td height="33"><%= f.text_field :NgaySinh %></td>-->
        <td width="30%"><%= f.date_select :NgaySinh,:start_year=>1977,:end_year=>Time.now.year,:order=>[:day,:month,:year]%></td>
      </tr>
       <tr>
         <td ><b><%= f.label 'Họ tên :' %></b></td>
         <td><%= f.text_field :HoTenSV, :size => "20px" %></td>
        
        <td height="33"><b>Giới tính :</b></td>
        <td height="33"><%= f.select :GioiTinh, options_for_select([["Nam", "Nam"], ["Nữ", "Nữ"]]) %></td>
      </tr>
       <tr>
         <td height="33"><b><%= f.label 'Địa chỉ :' %></b></td>
         <td><%= f.text_field :DiaChi, :size => "20px"%></td>
         <td height="33"><b><%= f.label 'Lớp:' %></b></td>
          <td height="33"><%= collection_select(:sinhvien, :lop_id, Lop.all, :id, :TenLop) %></td>
      </tr>
      <tr>
        <td height="33"><b><%= f.label 'Số Điện thoại:' %></b></td>
        <td><%= f.text_field :SDT , :size => "20px"%></td>
        <td height="33"><b><%= f.label 'Trình độ đào tạo:' %></b></td>
          <td height="33"><%= collection_select(:sinhvien, :trinhdodaotao_id, Trinhdodaotao.all, :id, :TenTDDT) %></td>
      </tr> 
      
     </table>
  </div>
    <br>
    <br></br>
          <div class="action" colspan ="2" align ="center">
            <%= f.submit 'Lưu lại'%>

          </div>
        <br>
    <br>
    <br>
    <br>

    
<% end %>
    
</div>
<div class="lock-screen" id="lock" style="display:block"></div> 
