<div id="login" class="login-cont" style="padding: 10px; margin: 10px; width: 80%; height: 85%; top: 5%; left: 7%; overflow: auto" align="center"> 
    <div id="close" class="closebutton" align="right">
    <%= link_to image_tag('closeit.png'),'/trangchu'%>
    </div>
    <%= form_tag sinhviens_path,:remote => true, :method => 'get' do %>  
     <fieldset style="width:50%">
        <legend>Lọc sinh viên</legend>
      <%= text_field_tag :search, params[:search] %> 
      
      <%= submit_tag "Lọc", :name => nil %>
      <%= link_to 'Tìm kiếm nâng cao','/sinhviens/search', :style => "color:#000"  %>
       </fieldset>
    <% end %>
        <br />
    <h1>Danh sách sinh viên</h1>
      
        <br />
     <div align="left">
     <%= link_to image_tag('new.png'), new_sinhvien_path %> Thêm sinh viên    
     </div>
        <div id ="sinhviens">
        <%= render :partial => 'sinhvien' %>
      </div>
      <script>
      $(document).ready(function() {
          $('.pagination a').attr('data-remote', 'true');
      });</script>
     <!--</div>-->
    <!--</div>-->
 
</div>
<div class="lock-screen" id="lock" style="display:block"></div> 