<div id="login" class="login-cont" style="padding: 10px; margin: 10px; width: 80%; height: 75%; top: 8%; left: 8%; overflow: auto" align="center"> 
    <div id="close" class="closebutton" style="right: 10px" align="right">
        <%= link_to image_tag('closex.jpg'),'/sinhviens'%>
    </div>
<h1>Tìm kiếm nâng cao</h1>

    <%= form_tag '/sinhviens/search', :method => 'get' do %>  
<fieldset>
    <table width ="100%">
      <tr>
        <td width ="20%">Mã số sinh viên:</td>
        <td width ="30%"><%= text_field_tag :MSSV, params[:MSSV], :size =>'19px'%></td>
        <td>Ngày sinh: </td>
        <td width ="30%"><%= text_field_tag :NgaySinh, params[:NgaySinh], :size =>'19px'%></td>
        
        
      </tr>
       <tr>
        <td width ="20%">Họ tên sinh viên:</td>
        <td width ="30%"><%= text_field_tag :HoTenSV, params[:HoTenSV], :size =>'19px'%></td>
        
        <td>Giới tính: </td>
        <td><%= select_tag :GioiTinh, options_for_select([["",""], ["Nam", "Nam"], ["Nữ", "Nữ"]],params[:GioiTinh]) %></td>
        
      </tr>

      <tr>
         <td>Địa chỉ:</td>
        <td><%= text_field_tag :DiaChi, params[:DiaChi], :size =>"19"%></td>  
        <td>Trình độ đào tạo : </td>
        <td><%= select_tag :trinhdodaotao_id, options_from_collection_for_select(Trinhdodaotao.all, :id,  :TenTDDT, params[:trinhdodaotao_id]), :include_blank=>'Tất cả' %></td>
      </tr>
      <tr>
        <td>Số điện thoại:</td>
        <td><%= text_field_tag :SDT, params[:SDT], :size =>"19"%></td>
        <td>Lớp: </td>
        <td><%= select_tag :lop_id, options_from_collection_for_select(Lop.all, :id,  :TenLop, params[:lop_id]), :include_blank=>'Tất cả' %></td>
      </tr>
      
    </table>
    <%= submit_tag "Tìm kiếm", :name => nil %>
  </fieldset>
    <% end %>
<br />
    <div style="overflow:auto;height:400px;" >     
      <table class="table1" width="100%" align="center">
      <tr>
        <th>Mã SV</th>
        <th>Họ tên</th>
        <th>Ngày sinh</th>
        <th>Giới tính</th>
        <th>Địa chỉ </th>
        <th>Số điện thoại</th>
        <th>Lớp</th>
        <th>Trình độ đào tạo</th>
        <th>Chức năng</th>
       
      </tr>
      <% @sinhviens.each do |sinhvien| %>
      <tr>
        <td ><%= sinhvien.MSSV %></td>
        <td><%= sinhvien.HoTenSV %></td>
        <td><%= sinhvien.NgaySinh %></td>
        <td><%= sinhvien.GioiTinh %></td>
        <td><%= sinhvien.DiaChi %></td>
        <td><%= sinhvien.SDT %></td>
        <td><%= sinhvien.lop.TenLop %></td>
        <td><%= sinhvien.trinhdodaotao.TenTDDT %></td>
        
        <td>
          <%= link_to 'Xem  ', sinhvien , :style=>"color:#000"%> | 
          <%= link_to 'Sửa  ', edit_sinhvien_path(sinhvien) , :style=>"color:#000"%> | 
          <%= link_to 'Xóa', sinhvien, :confirm => 'Bạn có chắc muốn xóa?', :method => :delete , :style=>"color:#000"%>
          
        </td> 
      </tr>
    <% end %>
    </table>
    </div>
    <br />
      <%= will_paginate @congvans %>
    <br />
</div>    
<div class="lock-screen" id="lock" style="display:block"></div>