<div id="login" class="login-cont" style="padding: 10px; margin: 10px; width: 85%; height: 80%; top: 7%; left: 7%;overflow: auto" align="center"> 
    <div id="close" class="closebutton" style="right: 10px" align="right">
        <%= link_to image_tag('print.png'),{:action=>:export_baoluus}, {:popup=>true},:style=>"color:#000" %>
       <%= link_to image_tag('back.png',:style=>'height:3em;width:3em;'), baoluus_path %>  
      <%= link_to image_tag('closeit.png'),'/trangchu'%>
    </div>
  <h1>Chi tiết bảo lưu</h1>
     <table width ="50%" align ="center" >  
      <tr>
        <td colspan="3">
          <p id="notice"><%= notice %></p>
        </td>
      </tr>
      <tr>
        <td width="20%"><b>Mã bảo lưu:</b></td>
        <td><%= @baoluu.MaBaoLuu %></td>
      </tr>
      <tr>
        <td><b>Tên bảo lưu:</b></td>
        <td align="left"><%= @baoluu.TenBaoLuu %><td>
      </tr>
      <tr>
        <td><b>Công văn số:</b></td>
        <td><%= @baoluu.congvan.SoCV %></td>
      </tr>
      <tr>
        <td><b>Học kỳ:</b></td>
        <td><%= @baoluu.HocKy %></td>
      </tr>
      <tr>
        <td><b>Năm học:</b></td>
        <td><%= @baoluu.NamHoc %></td>
      </tr>
      <tr>
        <td><b>Ghi Chú:</b></td>
        <td><%= @baoluu.GhiChu %></td>
      </tr>
      
  <tr>
        <td colspan="3" align ="center">
        <%= link_to image_tag('edit.png'), edit_baoluu_path(@baoluu) , :style=>"color:#000" %> |
        <%= link_to  image_tag('new.png'), new_baoluu_path, :style=>"color:#000"%>
        </td>
  </tr>
  </table>
        <table border ="1" width ="80%" align="center" cellspacing ="0" class="alternative" bgcolor ="white" >
          <tr>
            <th>Mã SV</th>
            <th>Họ tên</th>
            <th>Ngày sinh</th>
            <th>Giới tính</th>
            <th>Địa chỉ </th>
            <th>Số điện thoại</th>
            <th>Lớp</th>
          </tr>
          <% for sinhvien in @baoluu.sinhviens %>
          <tr>
            <td ><%= sinhvien.MSSV %></td>
            <td><%= sinhvien.HoTenSV %></td>
            <td><%= sinhvien.NgaySinh %></td>
            <td><%= sinhvien.GioiTinh %></td>
            <td><%= sinhvien.DiaChi %></td>
            <td><%= sinhvien.SDT %></td>
            <td><%= sinhvien.lop.TenLop %></td>
          </tr>
        <% end %>
        </table>
  
</div>    
<div class="lock-screen" id="lock" style="display:block"></div>
