<div id="login" class="login-cont" style="padding: 10px; margin: 10px; width:90%; height: 85%; top: 3%; left: 3%; overflow: auto" align="center"> 
    <div id="close" class="closebutton" align="right">
    <%= link_to image_tag('closeit.png'),'/trangchu'%>
    
    </div>
    <%= form_tag giangviens_path,:remote => true, :method => 'get' do %>  
     <fieldset style="width: 50%">
       <legend>Lọc giảng viên</legend>
      <%= text_field_tag :search, params[:search] %> 
      
      <%= submit_tag "Lọc", :name => nil %>
      <%= link_to 'Tìm kiếm nâng cao', '/giangviens/search',:style=>"color:#000"   %>
       
       </fieldset>
    <% end %>
        <br />
    <h1>Danh sách giảng viên</h1>
      
        <br />
    <div align="left">
     
   <%= link_to image_tag('new.png',:alt=>"Thêm giảng viên"), new_giangvien_path %> Thêm giảng viên 
     
   </div>                 
      <!--<div style="overflow:auto;height:400px;background-color:white;" >--> 
      <div id ="giangviens">
        <%= render :partial => 'giangvien' %>
      </div>
      <script>
      $(document).ready(function() {
          $('.pagination a').attr('data-remote', 'true');
      });</script>
<!--    <div class ="menu-header" style="text-align:center" >
      <%= will_paginate @giangviens %>
    <br />
    </div>-->
 <!--</div>-->
<!--</div>-->

 
</div>
<div class="lock-screen" id="lock" style="display:block"></div> 