<div id="login" class="login-cont" style="padding: 10px; margin: 10px; width: 55%; height: 65%; top: 15%; left: 20%;overflow: auto" align="center"> 
    <div id="close" class="closebutton" style="right: 10px" align="right">
       <%= link_to image_tag('back.png',:style=>'height:3em;width:3em;'), ngaches_path %>  
      <%= link_to image_tag('closeit.png'),'/trangchu'%>
    </div>
    <h1>Chi tiết ngạch</h1>
    <br></br>
     <fieldset style="width: 70%">
     <table width ="100%" align ="center" >  
      <tr>
        <td colspan="3">
          <p id="notice"><%= notice %></p>
        </td>
      </tr>
               
      <tr>
        <td><b>Mã ngạch:</b></td>
        <td><%= @ngach.MaNgach%></td>
      </tr>
      
      <tr>
        <td><b> Tên ngạch:</b></td>
        <td><%= @ngach.TenNgach %></td>
      </tr> 
      <tr>
        <td colspan="3" align="center">
                <%= link_to image_tag('edit.png'), edit_ngach_path(@chucvu) ,:style=>"color:#000"%> | 
          <%= link_to image_tag('new.png',:style=>"alt:Thêm chức vụ",:alt=>"Thêm ngạch"), new_ngach_path ,:style=>"color:#000"%>
        </td>
    </tr>
     </table>
     </fieldset>
</div>    
<div class="lock-screen" id="lock" style="display:block"></div>
