<div id="login" class="login-cont" style="padding: 10px; margin: 10px; width: 70%; height: 65%; top: 10%; left: 13%;overflow: auto" align="center"> 
    <div id="close" class="closebutton" style="right: 10px" align="right">
        <%= link_to image_tag('back.png',:style=>'height:3em;width:3em;'), covanhoctaps_path %>  
      <%= link_to image_tag('closeit.png'),'/trangchu'%>
    </div>
    <h1>Cố vấn học tập</h1>
    <fieldset style="width: 70%">
     <table width ="50%" align ="center" >  
      <tr>
        <td colspan="2">
          <p id="notice"><%= notice %></p>
        </td>
      </tr>
               
      <tr>
        <td><b>Cố vấn học tập:</b></td>
        <td><%= @covanhoctap.giangvien.HoTenGV%></td>
      </tr>
      
      <tr>
        <td><b>Lớp:</b></td>
        <td><%= @covanhoctap.lop.TenLop %></td>
      </tr> 
       <tr>
        <td><b>Học kỳ:</b></td>
        <td><%= @covanhoctap.HocKy %></td>
      </tr> 
       <tr>
        <td><b>Năm học:</b></td>
        <td><%= @covanhoctap.NamHoc %></td>
      </tr>
       <tr>
        <td><b>Ghi chú:</b></td>
        <td><%= @covanhoctap.GhiChu %></td>
      </tr> 
      <tr>
        <td colspan="2" align="center">
          <% if can? :update, @covanhoctap %>
            <%= link_to image_tag('edit.png'), edit_covanhoctap_path(@covanhoctap) ,:style=>"color:#000"%> | 
          <% end %> 
          <% if can? :create, @covanhoctap %>
          <%= link_to image_tag('new.png',:style=>"alt:Thêm cố vấn học tập",:alt=>"Thêm cố vấn học tập"), new_covanhoctap_path ,:style=>"color:#000"%>
          <%  end %>
         
          
        </td>
    </tr>
     </table>
    </fieldset>
</div>    
<div class="lock-screen" id="lock" style="display:block"></div>
